{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

<div class="p-5 w-50 mx-auto mt-5 contouring-form rounded">
    <form action="{{ path('login_check') }}" method="post">
        <div class="mb-3">
            <label class="form-label text-white" for="username">Nom d'utilisateur :</label>
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>
        <div class="mb-3">
            <label class="form-label text-white" for="password">Mot de passe :</label>
            <input class="form-control" type="password" id="password" name="_password" />
        </div>
        <button type="submit" class="btn btn-success btn-sm">Se connecter</button>
    </form>
</div>
{% endblock %}
