{% extends 'base.html.twig' %}

{% block header_title %}
    <h1>Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</h1>
{% endblock %}

{% block body %}
    {% if app.user %}
    <div class="row">
        <a class="btn btn-success" href="{{ path('task_create') }}">Créer une nouvelle tâche</a>
        <a class="btn btn-primary" href="{{ path('task_list_all') }}">Consulter la liste des tâches</a>
        <a class="btn btn-info" href="{{ path('task_list_not_done') }}">Consulter la liste des tâches à faire</a>
        <a class="btn btn-warning" href="{{ path('task_list_done') }}">Consulter la liste des tâches terminées</a>
    </div>
    {% endif %}
{% endblock %}
