:root {
    --primary-color: #364249;
}


nav {
    background-color: var(--primary-color);
}

.img-header-container {
    width: 100vw;
    height: calc(100vh - 56px);
    position: fixed;
    z-index: -1;
}

.img-header-container img {
    object-fit: cover;
}

.card-header{
    background-color: var(--primary-color);
}